<!DOCTYPE html>
<html lang="vn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tú Như Shop Kem</title>
    <title>Document</title>
    <link rel="stylesheet" href="css_folder/css/bootstrap.min.css">
    <link rel="stylesheet" href="css_folder/js/bootstrap.min.js">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="/style.css">
    <style>
        #navbarNavAltMarkup a {
            margin-right: 50px;
            color: black;
        }

        #product_content {
            margin-top: 250px;
        }

        @media only screen and (max-width: 600px) {
            html {
                overflow-x: hidden;
            }
            
            h5{
                text-align:center;
            }


            #navbarNavAltMarkup a {
                margin-right: 0;
                height: 82px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            
             .card-text:last-child {
                font-size: 12px !important;
            }
            
            .navbar-nav {
                background-color: white;
                border: 0.5px solid #ccc;
                text-align: center;
                margin-left: 35px;
            }


            #navbar_service {
                flex-direction: column;
            }

            .navbar-toggler {
                width: 100%;
            }

            .navbar-nav {
                background-color: white;
                border: 0.5px solid #ccc;
                text-align: center;
            }

            .navbar-nav>a {
                border-bottom: 1px solid #ccc;
            }

            #navbarNavAltMarkup a {
                margin-right: 0;
            }

            #topheader {
                margin: 0;
                padding: 0;
            }

            #content_image {
                height: 230px !important;
                margin-top: 17% !important;
            }

            #navbar_service {
                border: 0px;
            }

            .info {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .info img {
                display: none;
            }

            #navbar_service {
                border: 0 !important;
            }

            #navbar_service>div {
                border: 1px solid #ccc;
                margin-bottom: 5px;
                padding: 5px;
                border-radius: 5px;
            }

            #thongtin {
                margin-right: 0 !important;
            }

            #footer .row {
                width: 100%;
            }


            #navbar_service>div {
                border: 1px solid #ccc;
                margin-bottom: 5px;
                padding: 5px;
                height: 65px;
                border-radius: 5px;
                width: 231px;
                display: flex;
                text-align: center;
                display: flex !important;
                align-items: center;
                justify-content: center;
                align-items: center !important;
            }


            #bando {
                margin-left: -50%;
                border: none !important;
                background-color: transparent !important;
            }

            #btn_checkMDH {
                width: 216.67px !important;
                height: 50px !important;
            }

            #thongtin {
                font-size: 10px;
            }

            /* #thongtin h1{
                font-size: 1.5rem;
            } */

            .img_icon {
                width: 30px;
                height: 30px;
            }

            #footer {
                height:36vh !important;
            }

            #icon_change {
                margin-left: 231px !important;
                margin-top: -209px !important;
            }
            
            .mb-5, .my-5{
                margin-bottom: 2rem!important;
            }
            
            
            .navbar-toggler{
                width: 65px !important;
            }
            
            #top_navigation{
                height:61px !important;
            }
            
            
            #navbar_service>div {
                border: 1px solid #ccc;
                margin-bottom: 5px;
                padding: 5px;
                height: 65px;
                border-radius: 5px;
                width: 231px;
                display: flex;
                text-align: center;
                display: flex !important;
                align-items: center;
                justify-content: center;
                align-items: center !important;
                    }
                    
                    
                      @media only screen and (width:360px) and (height: 740px){
            #footer {
                height: 47vh !important;
                margin-top: 58%;
            }
        }
        
        
          @media only screen and (width:375px) and (height:667px){
            #footer {
                height: 45vh !important;
                margin-top: 58%;
            }
        }
    </style>

</head>

<body>
    <div id="preloader"></div>
    <div class="container-fluid " style="padding: 0 !important;margin:0;height: 95px;line-height: 95px;z-index: 10;position:fixed;top:0;left:0;right: 0;">
        <div id="top_navigation" class="bg-white text-dark" style="box-shadow:-14px 0px 3px 0px black;height:111px;">
            <div class="container" id="topheader">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand font-italic" href="#">
                        <h3>Tú Như Shop Kem</h3>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div style="width:317px"></div>
                    <div></div>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav d-flex justify-content-between">
                            <a class="nav-item nav-link active text-primary fixloi" href="#">TRANG CHỦ <span class="sr-only">(current)</span></a>
                            <a class="nav-item nav-link fixloi" href="#footer">LIÊN HỆ</a>
                            <a class="nav-item nav-link text-primary font-weight-bold fixloi" href="#">HOTLINE: 0913.822.841</a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>



    <div class="container">
        <div id="content_image" style="height: 434px;position: relative;    margin-top: 10%;">
            <img src="image/background_kem.webp" class="img-fluid" alt="Responsive image">

            <div id="navbar_service" style="position: absolute;height:69px;width:100%;background-color:white;top: 128%;border:1px solid #ccc;"
                class="d-flex align-items-center justify-content-around rounded">
                <div class="d-flex align-items-center">
                    <div class="media flexbox mr-4">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/383/807/themes/848676/assets/policy1.png?1656316421742"
                            data-src="//bizweb.dktcdn.net/thumb/small/100/383/807/themes/848676/assets/policy1.png?1656316421742" alt="Freeship" data-was-processed="true">
                    </div>
                    <div class="info">
                        <span class="font-weight-bold">FREESHIP</span>
                        <p style="opacity: 0.6;">Miễn phí vận chuyển</p>
                    </div>
                </div>
                <div>
                    <div class="info">
                        <a href="/checkMDH" style="text-decoration:none;">
                            <button type="button" id="btn_checkMDH" class="btn btn-info" style="width:500px;">KIỂM TRA HÀNG GIẢ &nbsp; <i class="fa-solid fa-check-to-slot"></i> </button>
                        </a>

                        <img src="image/checkQR.png" alt="" width="46px" height="38px" class="border border-info rounded">
                    </div>
                </div>
                <div class="d-flex align-items-center">
                    <div class="media flexbox mr-4">
                        <img class="lazyload loaded" src="//bizweb.dktcdn.net/thumb/small/100/383/807/themes/848676/assets/policy4.png?1656316421742"
                            data-src="//bizweb.dktcdn.net/thumb/small/100/383/807/themes/848676/assets/policy4.png?1656316421742" alt="Hỗ trợ" data-was-processed="true">
                    </div>
                    <div class="info">
                        <span class="font-weight-bold">HỖ TRỢ</span>
                        <p style="opacity: 0.6;">24/7</p>
                    </div>
                </div>
            </div>
        </div>
    </div>





  <div class="container" id="product_content">
        <div id="top_product" class="text-center">
            <h3>SẢN PHẨM HOT</h3>
            <img src="https://bizweb.dktcdn.net/100/383/807/themes/848676/assets/bg_title.png?1656316409595" alt="">
        </div>

        <br>
      <div id="product_hot">
            <div class="row">
                <div class="col-sm-6 col-lg-3  d-flex justify-content-center mb-4" style="width: 50%;height: 50%;">
                    <div class="card" style="width: 18rem;" data-aos="flip-left" data-aos="flip-down">
                        <img src="image/TN150.jpg" alt="..." class="img-thumbnail">
                        <div class="card-body font-weight-bold">
                            <p class="card-text">Kem Body Cốt Ủ - 150gr</p>
                            <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center" id="price"> 190.000 đ</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3  d-flex justify-content-center mb-4" style="width: 50%;height: 50%;">
                    <div class="card" style="width: 18rem;" data-aos="flip-left" data-aos="flip-down">
                        <img src="image/CBTU.jpg" alt="..." class="img-thumbnail">
                        <div class="card-body font-weight-bold">
                            <p class="card-text">Combo Ủ & Dưỡng - 2 Tuần</p>
                            <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center" id="price"> 410.000 đ</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3  d-flex justify-content-center mb-4" style="width: 50%;height: 50%;">
                    <div class="card" style="width: 18rem;" data-aos="flip-left" data-aos="flip-down">
                        <img src="image/TN350.jpg" alt="..." class="img-thumbnail">
                        <div class="card-body font-weight-bold">
                            <p class="card-text font-weight-bold">Kem Body Cốt Ủ - 350gr</p>
                            <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center" id="price"> 415.000 đ</span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3  d-flex justify-content-center mb-4" style="width: 50%;height: 50%;">
                    <div class="card" style="width: 18rem;" data-aos="flip-left" data-aos="flip-down">
                        <img src="image/CBTH.jpg" alt="..." class="img-thumbnail">
                        <div class="card-body font-weight-bold">
                            <p class="card-text"> Combo Kem Ủ & Dưỡng - 1 Tháng </p>
                            <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center" id="price"> 790.000đ</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <br>
        <br>

        <div id="second_product" class="text-center">
            <h3>DANH SÁCH SẢN PHẨM</h3>
            <img src="https://bizweb.dktcdn.net/100/383/807/themes/848676/assets/bg_title.png?1656316409595" alt="">
        </div>

        <br>


        <h5 style="margin:0 auto;margin-bottom: 10px;" class="text-primary fw-bold">SẢN PHẨM CỐT Ủ MẠNH</h5>
        <div class="row">
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/TN150.jpg" alt="..." class="img-thumbnailCombo N&Đ 1 tháng Siêu Trắng Sáng">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Ủ - 150gr</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 205.000 đ</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/TN350.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Ủ - 350gr</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 415.000đ</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/cốt ủ 500g.jpg" alt="..." class="img-thumbnail">

                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Ủ - 500gr</p>
                        <br>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 560.000 đ</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/1KG.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Ủ - 1kg (tặng áo ủ kem)</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 1.100.000đ</span>
                    </div>
                </div>
            </div>
            
        <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/90.jpg" alt="..." class="img-thumbnail">

                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Thái 90% - 125gr</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 225.000đ</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/90.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Cốt Thái 90% - 350gr</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 625.000đ</span>
                    </div>
                </div>
            </div>
        </div>

        
        <h5 style="margin:0 auto;margin-bottom: 10px;" class="text-primary fw-bold">SẢN PHẨM DƯỠNG SÁNG</h5>
        <div class="row">
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/TNDN.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Dưỡng Trắng Mịn - 200gr</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 225.000 đ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/TNDL.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Kem Body Dưỡng Trắng Mịn -  320g</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 395.000đ</span>
                    </div>
                </div>
            </div>
        </div>

        <h5 style="margin:0 auto;margin-bottom: 10px;" class="text-primary fw-bold">SẢN PHẨM PHỐI HỢP</h5>
        <div class="row">
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/CBTU.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Combo Kem Ủ Dưỡng - 2 Tuần</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 410.000đ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/CBTH.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Combo Kem ủ Dưỡng - 1 Tháng</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 790.000đ</span>
                    </div>
                </div>
            </div>
        </div>

        <h5 style="margin:0 auto;margin-bottom: 10px;" class="text-primary fw-bold">SẢN PHẨM KHÁC</h5>
        <div class="row">
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/hinhp1.jpg" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Áo Ủ Kem Dày Dặn</p>
                        <br>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 99.000 đ</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/TNB.PNG" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Set Ủ Tắm Bột Đậu Đỏ & Dầu Oliu</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 99.000 đ</span>
                    </div>
                </div>
            </div>
            
            <!--/*Dầu Oliu*/-->
             <div class="col-sm-6 col-lg-3 d-flex justify-content-center mb-4" style="width:50%;height:50%;">
                <div class="card" style="width: 18rem;" data-aos="fade-up" data-aos-anchor-placement="top-bottom">
                    <img src="image/dauoliu.PNG" alt="..." class="img-thumbnail">
                    <div class="card-body font-weight-bold">
                        <p class="card-text">Dầu OLIU</p>
                        <span class="text-muted">Giá bán: </span> <span class="card-text text-warning text-center"> 99.000đ</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <div id="footer" style="background-color: #ffeded;padding: 50px;">
        <div class="container d-flex justify-content-between">
            <div class="row">
                <div class="col col-sm">
                    <div class="col mr-5" id="thongtin">
                        <h1>Tú Như Shop Kem</h1>
                        <p><i class="fa-solid fa-location-dot text-warning"></i> &nbsp;&nbsp;Địa chỉ : Hẻm liên tổ 3-4, Nguyễn Văn Cừ, An Khánh, Ninh Kiều, Cần Thơ</p>
                        <p><i class="fa-solid fa-phone text-warning"></i>&nbsp;&nbsp;SĐT: 0913.822.841</p>
                        <i class="fa-solid fa-truck-fast  text-warning"></i>&nbsp;&nbsp;Freeship toàn quốc</p>
                    </div>
                </div>
                <div class="col col-sm" style="margin-left: 358px;" id="icon_change">
                    <div class="row">
                        <div class="col mb-5 d-flex align-items-center">
                            <a href="tunhuxinhdep96@gmail.com" class="text-decoration-none">
                                <img src="image/gmail.png" alt="..." width="50px" height="50px" class="img_icon">
                            </a>
                        </div>
                        <div class="col mb-5">
                            <a href="https://www.tiktok.com/@tunhushopkem" style="text-decoration:none;">
                                <img src="image/tik-tok.png" alt="..." width="50px" height="50px" class="img_icon">
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-5">
                            <a href="https://www.facebook.com/profile.php?id=100064562295203" style="text-decoration:none;">
                                <img src="image/facebook.png" alt="..." width="50px" height="50px" class="img_icon">
                            </a>
                        </div>
                        <div class="col mb-5 font-weight-bold">
                             <a href="https://zalo.me/0913822841" style="text-decoration:none;">
                                 <img src="image/zalo.png" alt="..." width="50px" height="50px" class="img_icon">
                            </a>
                           
                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        var loader = document.getElementById("preloader");
        window.addEventListener("load", function () {
            AOS.init();
            loader.style.display = "none";
        })
    </script>
</body>

</html>